/* Fontes */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@500&display=swap');



.body{
background-color: black;
display:flex;

}

.cabeçalho {
    padding: 2% 0 0 15%;
    
    }
    
    .cabeçalho_menu{
    display: flex;
    gap: 80px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: aqua;
    
    }
    
    .cabeçalho_menu_links{ 
    text-decoration: none;
    color: aqua;
    
    }

.apresentação{
    color: antiquewhite;

}